@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Aeroclub Rio de la Plata</h1>
        <p>Aprende a volar con nosotros</p>
    </div>


<footer>
        <p class="adress">
          <a href="https://www.linkedin.com/in/jorge-daniel-olivera-12264a195/"
            >Contactanos</a
          >
        </p>
</footer>




