@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="background-image: url('../descarga.jpeg');">
    <div class="text-center">
        <h1 class="display-4">Aeroclub Rio de la Plata</h1>
        <p>Aprende a volar con nosotros</p>
    </div>
</div>


